<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <style>
        body { font-family: Arial; background-color: #9b9b9b; padding: 20px; }
        h1 { color: #1a1a1a; }
        a {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 15px;
            background-color: #52b1ed;
            color: rgb(255, 255, 255);
            text-decoration: none;
            border-radius: 5px;
        }
        a:hover {
            background-color: #055cae91;
        }
    </style>
</head>
<body>
    <h1>Bienvenidos a mi WEB</h1>
    <a href="{% url 'web:lista_estudiantes' %}">Ver lista de estudiantes</a>
</body>
    <a href="{% url 'web:lista_profesores' %}">Ver lista de profesores</a>
</html>
